


<style>
    .tableinpt {
        width: 100%;
        box-shadow: none;
        border: 0;
        pointer-events: none;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    } 
</style>

<div ng-controller="CcicRecentNewsController">
    <div class="breadcrumb-header">
        <!-- breadcrumb Open -->
        <div class="container">
            <section class="content-header">
                <h5>Notification</h5>
                <ol class="breadcrumb">
                    <li><a href="#!/CcicDashboard"><i class="fa fa-dashboard">Ccic Dashboard</i> </a></li>
                    <li><a href="#!/CcicDashboard/Settings">Circulars dashboard</a></li>
                    <li><a href="#!/CcicDashboard/CcicSettings/CcicRecentNews">Ccic RecentNews</a></li>
                </ol>
            </section>
        </div>
        <!-- breadcrumb Close -->
    </div>
    <section class="content">
        <div class="container">

            <!--<ul class="nav nav-tabs">
                <li class="active">
                    <a href="#1" data-toggle="tab">Add RecentNews</a>
                </li>

                <li>
                    <a href="#2" data-toggle="tab">View RecentNews</a>
                </li>

            </ul>-->
            <div class="tab-pane active" id="1">

                <div class="col-md-12">
                    <div class="cl-details">
                        <h2> Add RecentNews</h2>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="alert alert-info">
                        <div class="studWishinputs">
                            <form novalidate="" class="ng-pristine ng-invalid ng-invalid-required">
                                <div class="row">
                                    <!--<div class="col-md-4">
                                        <div class="form-group">
                                            <label>User Name</label>
                                            <div class="multiselect">
                                                <div class="selectBox" ng-click="showCheckboxes()">
                                                    <select class="form-control ">
                                                        <option ng-blur="closeCheckbox()">Select an option</option>
                                                    </select>
                                                    <div class="overSelect"></div>
                                                </div>
                                                <div id="checkboxes" style="max-height: 12em; overflow-y: scroll;">
                                                    <label class="contain">
                                                        <input type="checkbox" ng-click="toggleAll()" ng-model="isAllSelected" /><span class="checkmark"></span>Select All
                                                    </label>

                                                    <label class="contain" ng-repeat="data in UserTypes">
                                                        <input type="checkbox" ng-model="data.selected" ng-change="optionToggled(data.selected)"><span class="checkmark"></span>{{data.UserType}}
                                                    </label>

                                                </div>
                                            </div>
                                        </div>
                                    </div>-->
                                    <div class="col-md-4">
                                        <label>Start Date</label>
                                        <sa-Date ng-model="StartDate" displaylabel="Start Date" object="StartDate" objectname="StartDate" length="100" ispascal="true"> </sa-Date>
                                    </div>
                                    <div class="col-md-4">
                                        <label>End Date</label>
                                        <sa-date ng-model="EndDate" displaylabel="End Date" object="EndDate" objectname="EndDate" length="100" ispascal="true"> </sa-date>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label>RecentNews Message</label>
                                            <textarea rows="5" style="resize:none" ng-model="RecentNews" class="form-control"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <button style="margin-top:105px;" class="btn btn-sm btn-primary gr-button btn_top pull-left" ng-click="AddRecentNews()">
                                                Submit
                                                <span class="fa fa-arrow-down heading_icon btn_icons"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 " ng-show="result">
                <div class="notifylabel pull-right" for="sel1" style="color: red; padding-left:700px;">Click on Get Button to get all recent news</div>
                <div class="sm-spacer">
                    <button class="btn-xs btn btn-primary" ng-click="getAllRecentNews()">Get</button>

                </div>

                <div class="cl-details">
                    <h2>Ccic RecentNews</h2>
                </div>

                <div class="table-responsive table-custom-tables-tb ">
                    <table class="table table-bordered  table-striped table-rounded">
                        <thead>
                            <tr class="cb-1">
                                <th>S no</th>
                                <th>Notification</th>
                                <th>From Date</th>
                                <th>To Date</th>
                                <!--<th style="text-align:center;">Status</th>-->
                                <th style="text-align:center;">Edit/Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="background-color:#fff!important;cursor:pointer"  ng-repeat="data in GetRecentNews">
                                <td>
                                    {{$index+1}}
                                </td>

                                <td>
                                    <div><input type="text" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.RecentNewsText" /></div>
                                </td>

                                <td>
                                    <div><input type="text" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.FromDate" /></div>
                                </td>

                                <td>
                                    <div><input type="text" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.ToDate" /></div>
                                </td>



                                <td style="text-align:center" width="8%">
                                    <button ng-hide="viewField" class="btn-xs btn btn-primary" ng-click="modify($index+1)">Edit</button>
                                    <button class="btn-xs btn btn-success" ng-show="modifyField" ng-click="update($index+1,data.RecentNewsID,data.RecentNewsText,data.FromDate,data.ToDate)"><span>Update</span></button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12" ng-show="NoResult">
                <div class="col-md-12 no-results">
                    <img src="../../contents/img/Folder-Icon.svg" />
                    <h2>No Data</h2>
                </div>
            </div>

        </div>
        <div class="sm-spacer"></div>
    </section>

</div>