<style>
    .tableinpt {
        width: 100%;
        box-shadow: none;
        border: 0;
        pointer-events: none;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }

    .btn-default, .btn-dark-blue {
        border-color: #314559;
        color: #000;
        background-color: white;
    }

        .btn-default.active, .btn-dark-blue.active, .open .dropdown-toggle.btn-default, .open .dropdown-toggle.btn-dark-blue {
            border-color: #2c3e50;
            color: #fff;
            background-color: #2f4254;
        }

    button > span.active {
        color: #ffffff !important;
    }

    .text-info {
        color: #ffffff;
    }

    span {
        color: #000 !important;
    }
    /*--------------------------------------------------*/
    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #f9f9f9 !important;
    }

    span {
        color: white !important;
    }

    a {
        color: #337ab7;
        text-decoration: none;
    }

    .table-custom-tables-tb .table-bordered .table-hover > tbody > tr > td {
        border: 1px solid #ddd !important;
        color: #337ab7;
        font-size: 14px !important;
        cursor: default !important;
    }
</style>

<div ng-controller="CcicRegisterController">
    <script type="text/javascript">
        // When the document is ready
        $(document).ready(function () {

            $('#example1').datepicker({
                minViewMode: 'years',
                autoclose: true,
                format: 'yyyy'
            });
            $('#example2').datepicker({
                minViewMode: 1,
                autoclose: true,
                format: 'mm-yyyy'
            });
            $('.tabledate').datepicker({
                //minViewMode: 1,
                autoclose: true,
                format: 'dd-mm-yyyy'
            });
            //$('#example4').datepicker({
            //    //minViewMode: 1,
            //    autoclose: true,
            //    //format: 'dd-mm-yyyy'
            //});
        });
    </script>
    <div class="breadcrumb-header">
        <!-- breadcrumb Open -->
        <div class="container">
            <section class="content-header">
                <h5>Register</h5>
                <ol class="breadcrumb">
                    <li><a href="#!/CcicDashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                    <li><a href="#!/CcicDashboard/Academic">Academic</a></li>
                    <li><a href="#!/CcicDashboard/Academic/Register">Register</a></li>
                </ol>
            </section>
        </div>
        <!-- breadcrumb Close -->
    </div>
    <div class="container">

        <div class="col-md-12">
            <button class="btn bck_btn"><a href="#!/CcicDashboard/Academic" class="backA"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>  Back</a></button>
        </div>


        <div id="exTab2" class="container">



            <div class="tab-content ">


                <div class="container" ng-show="DropDownTable">
                    <div class="col-md-12">
                        <div class="cl-details">
                            <h2>Register</h2>

                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="base-row" style="padding:15px!important;">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="font-weight-bold"> Academic Year :</label>
                                        <select class="form-control " ng-model="academicYear" name="AcademicYear" required>
                                            <option value="" selected="selected">Select Year</option>
                                            <option value="{{data.AcademicYearID}}" ng-repeat="data in GetCcicAcademicYears" class="">
                                                {{data.AcademicYear}}
                                            </option>
                                            <!--<option value=1>1</option>
                                            <option value=2>2</option>-->
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-3 form-group">
                                    <label class="font-weight-bold"> Batch:</label>
                                    <select class="form-control" ng-model="batch" name="BatchType" required>
                                        <option value="" selected="selected">Select Batch</option>
                                        <option value=1>1</option>
                                        <option value=2>2</option>

                                    </select>
                                </div>

                                <div class="col-md-12 pull-left">
                                    <button class="btn pull-right btn-success btn-css" style="margin-top: 23px;" ng-click="getAdminRegisterReportCount(academicYear,batch)">
                                        Get Details
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="container">
                      <div class="col-md-12" ng-show="AdminRegisterInsTable">
                        <div class="row base-row" ng-if="AdmRegisterReportInsCountTable.length>0">

                            <div class="col-md-12">
                                <div id="AdminRegisterReportTable">
                                    <!--<div class="cl-details">
                                        <h2>Register Report</h2>
                                    </div>-->
                                    <!--<div style="width:100%;text-align:center;">
        <img src="../../contents/img/loading2.gif" ng-show="LoadImg" width="100" />
    </div>-->
                                    <br>
                                    <form class="form-inline" ng-if="AdmRegisterReportInsCountTable.length>0">
                                        <div class="form-group">
                                            <label>Search</label>
                                            <input type="text" ng-model="search" class="form-control" placeholder="Search">
                                        </div>
                                    </form>
                                    <label class="notifylabel" ng-if="AdmRegisterReportInsCountTable.length>0" for="sel1" style="color: red;"> double click on link to get courses details</label>


                                    <div class="table-responsive table-custom-tables-tb" id="RegisterDetails">
                                        <table class="table table-bordered table-hover table-rounded">
                                            <thead>
                                                <tr class="cb-1">

                                                    <th>InstitutionCode</th>
                                                    <th>InstitutionName</th>
                                                    <th>Enrolled</th>
                                                    <th>Submitted</th>
                                                    <th>Approved</th>
                                                    <th>Pending</th>
                                                    <th>Revised</th>
                                                    <th>Rejected</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="Data in AdmRegisterReportInsCountTable|orderBy:sortKey:reverse|filter:search" ng-dblclick="showAdminRegisterCoursesCount(Data.InstitutionID,academicYear,batch)">

                                                    <td>{{Data.InstitutionCode}}</td>
                                                    <td>{{Data.InstitutionName}}</td>
                                                    <td><b>{{Data.Enrolled}}</></b></td>
                                                    <td><b>{{Data.Submitted}}</b></td>
                                                    <td><b>{{Data.Approved}}</b></td>
                                                    <td><b>{{Data.Pending}}</b></td>
                                                    <td><b>{{Data.Revised}}</b></td>
                                                    <td><b>{{Data.Rejected}}</b></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>

                <div class="col-md-12" ng-show="RegisterCoursesTable">
                    <div class="row base-row">

                        <div class="col-md-12">
                            <div id="RegisterReportTable">
                                <!--<div class="cl-details">
                                    <h2>Register Report</h2>
                                </div>-->
                                <!--<div style="width:100%;text-align:center;">
        <img src="../../contents/img/loading2.gif" ng-show="LoadImg" width="100" />
    </div>-->
                                <form class="form-inline" ng-if="RegisterCoursesCountTable.length>0">
                                    <div class="form-group">
                                        <label>Search</label>
                                        <input type="text" ng-model="search" class="form-control" placeholder="Search">
                                    </div>
                                </form>
                                <label class="notifylabel" ng-if="RegisterCoursesCountTable.length>0" for="sel1" style="color: red;"> click on link to get student details</label>
                                <div class="table-responsive table-custom-tables-tb" id="RegisterDetails">
                                    <table class="table table-bordered table-rounded">
                                        <thead>
                                            <tr class="cb-1">
                                                <th>CourseCode</th>
                                                <th>Intake</th>
                                                <th>Enrolled</th>
                                                <th>Submitted</th>
                                                <th>Approved</th>
                                                <th>Pending</th>
                                                <th>Revised</th>
                                                <th>Rejected</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="Data in RegisterCoursesCountTable|orderBy:sortKey:reverse|filter:search">

                                                <td>{{Data.CourseCode}}</td>
                                                <td>{{Data.Intake}}</td>
                                                <td><b><a class="Verify" ng-click="UserDetails(Data.InstitutionID,Data.CourseID,1,academicYear,batch)">{{Data.Enrolled == null ?'--':Data.Enrolled}}</a></b></td>
                                                <td><b><a class="Verify" ng-click="UserDetails(Data.InstitutionID,Data.CourseID,2,academicYear,batch)">{{Data.Submitted == null ?'--':Data.Submitted}}</a></b></td>
                                                <td><b><a class="Verify" ng-click="UserDetails(Data.InstitutionID,Data.CourseID,3,academicYear,batch)">{{Data.Approved == null ?'--':Data.Approved}}</a></b></td>
                                                <td><b><a class="Verify" ng-click="UserDetails(Data.InstitutionID,Data.CourseID,4,academicYear,batch)">{{Data.Pending == null ?'--':Data.Pending}}</a></b></td>
                                                <td><b><a class="Verify" ng-click="UserDetails(Data.InstitutionID,Data.CourseID,5,academicYear,batch)">{{Data.Revised == null ?'--':Data.Revised}}</a></b></td>
                                                <td><b><a class="Verify" ng-click="UserDetails(Data.InstitutionID,Data.CourseID,6,academicYear,batch)">{{Data.Rejected == null ?'--':Data.Rejected}}</a></b></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>

        </div>
    </div>




</div>










