<style>
    .btn_top {
        margin-top: 25px;
    }

    .card {
        margin-bottom: 50px;
    }

    .row {
        margin-right: -15px;
        margin-left: 0px !important;
    }

    .tableinpt {
        width: 100%;
        box-shadow: none;
        border: 0;
        pointer-events: none;
        cursor: pointer;
    }
    /*----------------------------------------------date time css-------------------------------------------------------*/
    .btn-default, .btn-dark-blue {
        border-color: #314559;
        color: #000;
        background-color: white;
    }

        .btn-default.active, .btn-dark-blue.active, .open .dropdown-toggle.btn-default, .open .dropdown-toggle.btn-dark-blue {
            border-color: #2c3e50;
            color: #fff;
            background-color: #2f4254;
        }

    button > span.active {
        color: #ffffff !important;
    }

    .text-info {
        color: #ffffff;
    }

    span {
        color: #000 !important;
    }
    /*--------------------------------------------------*/
    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #f9f9f9 !important;
    }
</style>
<div ng-controller="GeneratePayrollController">
    <div class="breadcrumb-header">
        <!-- breadcrumb Open -->
        <div class="container">
            <section class="content-header">
                <h5>Payroll Generation</h5>

            </section>
        </div>
        <!-- breadcrumb Close -->
    </div>
    <div class="container content">
        <div class="col-md-12">
            <button class="btn bck_btn"><a href="#!/Dashboard/PayRollDashboard" class="backA"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>  Back</a></button>
        </div>
        <ul class="nav nav-tabs">
            <li class="active noprint">
                <a href="#1" class="noprint  font-weight-bold" data-toggle="tab">Generate Montly Salary</a>
            </li>
            <li class="noprint">
                <a href="#2" class="noprint  font-weight-bold" data-toggle="tab">Publish Montly Salary</a>
            </li>
            <li class="noprint">
                <a href="#3" class="noprint   font-weight-bold" data-toggle="tab">Generate Payslips</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="1">
                <div class="card">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Financial Year:</label>
                            <div class="">
                                <select class="form-control" ng-model="FinancialYearID1" name="FinancialYear" required ng-change="changeFinYear(FinancialYearID1)">
                                    <option value="" selected>Select Financial Year</option>
                                    <option ng-repeat="data in FinancialYears" value="{{data.FinancialYearId}}">
                                        {{data.FinancialYear}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Month:</label>
                            <div class="">
                                <select class="form-control" ng-model="MonthID1" name="StudentType" ng-change="ChangeMonth(MonthID1)" required>
                                    <option value="" selected>Select Month </option>
                                    <option ng-repeat="data in MonthsData" value="{{data.MonthID}}">
                                        {{data.Months}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 text-center">
                        <div class="form-group text-center">
                            <button class="btn btn-sm btn-primary  text-center  gr-button btn_top" ng-click="generatemonthlysalary()">
                                Generate Payroll
                                <span class="fa fa-arrow-down heading_icon btn_icons"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" ng-if="GetAllGeneratedMontlysalary.length>0">
                    <div class="pull-right">
                        <a class="ExportToExcel1 pointer"
                           id="ExportToExcel1" ng-click="getGenerateExcel('#tblParent')">
                            <i class="fa fa-file-excel-o"></i>
                            Export to Excel
                        </a>
                    </div>
                </div>
                <div class="" ng-show="GetAllGeneratedMontlysalary.length>0">
                    <table class="table table-responsive table-bordered">
                        <thead>
                            <tr class="cb-1">
                                <th>S.No</th>
                                <th class="text-center">Employee Code</th>
                                <th class="text-center">Employee Name</th>
                                <th class="text-center">Designation Name</th>
                                <th class="text-center">Gross Total</th>
                                <th class="text-center">Total Deductions</th>
                                <th class="text-center">Net Salary</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in GetAllGeneratedMontlysalary">
                                <td class="text-center pointer">{{$index+1}}</td>
                                <td class="text-center pointer"><div><input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.EmployeeCode" /></div></td>
                                <td class="text-center pointer"><div><input type="text" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))' class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.EmployeeName" /></div></td>
                                <td class="text-center pointer"><div><input type="text" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))' class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.DesignationName" /></div></td>
                                <td class="text-center pointer"><div><input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.GrossTotal" /></div></td>
                                <td class="text-center pointer"><div><input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.TotalDeductions" /></div></td>
                                <td class="text-center pointer"><div><input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.NetSalary" /></div></td>


                                <!--<td class="text-center">
                                    <button class="btn-xs btn btn-info" style="width: 70px;" ng-show="edit{{$index + 1}}" ng-click="EditIncrement(data,$index+1)">
                                        Edit
                                    </button>
                                    <button class="btn-xs btn btn-primary" style="width: 70px;" ng-show="!edit{{$index + 1}}" ng-click="UpdateIncrement(data,$index+1)">
                                        Update
                                    </button>

                                </td>-->

                                <!--<td style="text-align:center">
                                    <button class="btn-xs btn btn-success" title="Click here to Inactive" ng-click="ChangeActive(data.FinancialYearID,data.MonthID,data.IncrementID,0)" ng-if="data.Active==1">Active</button>
                                    <button class="btn-xs btn btn-danger" title="Click here to Active" ng-click="ChangeActive(data.FinancialYearID,data.MonthID,data.IncrementID,1)" ng-if="data.Active==0">InActive</button>
                                </td>-->

                            </tr>

                        </tbody>
                    </table>
                </div>





            </div>




            <div class="tab-pane " id="2">
                <div class="card">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Financial Year:</label>
                            <div class="">
                                <select class="form-control" ng-model="FinancialYearID2" name="FinancialYear"  ng-change="changeFinYear1(FinancialYearID2)"required>
                                    <option value="" selected>Select Financial Year</option>
                                    <option ng-repeat="data in FinancialYears" value="{{data.FinancialYearId}}">
                                        {{data.FinancialYear}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Month:</label>
                            <div class="">
                                <select class="form-control" ng-model="MonthID2" name="StudentType" ng-change="ChangeMonth2(MonthID2)" required>
                                    <option value="" selected>Select Month </option>
                                    <option ng-repeat="data in AllMonthsData" value="{{data.MonthID}}">
                                        {{data.Months}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 text-center">
                        <div class="form-group text-center">
                            <button class="btn btn-sm btn-primary  text-center  gr-button btn_top" ng-click="publishmonthlysalary()">
                                Publish Payroll
                                <span class="fa fa-arrow-down heading_icon btn_icons"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" ng-if="GetAllPublishMontlysalary.length>0">
                    <div class="pull-right">
                        <a class="ExportToExcel1 pointer"
                           id="ExportToExcel1" ng-click="getPublishedExcel('#tblParent')">
                            <i class="fa fa-file-excel-o"></i>
                            Export to Excel
                        </a>
                    </div>
                </div>
                <div class="" ng-show="GetAllPublishMontlysalary.length>0">
                    <table class="table table-responsive table-bordered">
                        <thead>
                            <tr class="cb-1">
                                <th>S.No</th>
                                <th class="text-center">Employee Code</th>
                                <th class="text-center">Employee Name</th>
                                <th class="text-center">Designation</th>
                                <th class="text-center">Gross Total</th>
                                <th class="text-center">Total Deductions</th>
                                <th class="text-center">Net Salary</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in GetAllPublishMontlysalary">
                                <td class="text-center pointer">{{$index+1}}</td>
                                <td class="text-center pointer"><div><input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.EmployeeCode" /></div></td>
                                <td class="text-center pointer"><div><input type="text" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))' class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.EmployeeName" /></div></td>
                                <td class="text-center pointer"><div><input type="text" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))' class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.DesignationName" /></div></td>
                                <td class="text-center pointer"><div><input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.GrossTotal" /></div></td>
                                <td class="text-center pointer"><div><input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.TotalDeductions" /></div></td>
                                <td class="text-center pointer"><div><input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.NetSalary" /></div></td>

                              

                            </tr>

                        </tbody>
                    </table>
                </div>





            </div>











            <div class="tab-pane " id="3">
                <div class="card">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Financial Year:</label>
                            <div class="">
                                <select class="form-control" ng-model="FinancialYearID3" name="FinancialYear" required>
                                    <option value="" selected>Select Financial Year</option>
                                    <option ng-repeat="data in FinancialYears" value="{{data.FinancialYearId}}">
                                        {{data.FinancialYear}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Month:</label>
                            <div class="">
                                <select class="form-control" ng-model="MonthID3" name="StudentType" required>
                                    <option value="" selected>Select Month </option>
                                    <option ng-repeat="data in MonthsData" value="{{data.MonthID}}">
                                        {{data.Months}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 text-center">
                        <div class="form-group text-center">
                            <button class="btn btn-sm btn-primary  text-center  gr-button btn_top" ng-click="generatePayslips()">
                                Generate Payslips
                                <span class="fa fa-arrow-down heading_icon btn_icons"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" ng-if="InstitutewiseCount.length>0">
                    <div class="pull-right">
                        <a class="ExportToExcel1 pointer"
                           id="ExportToExcel1" ng-click="getInstitutewiseCountExcel('#tblParent')">
                            <i class="fa fa-file-excel-o"></i>
                            Export to Excel
                        </a>
                    </div>
                </div>
                <!--<div class="" ng-show="GetAllGeneratedMontlysalary.length>0">
                    <table class="table table-responsive table-bordered">
                        <thead>
                            <tr class="cb-1">
                                <th>S.No</th>
                                <th class="text-center">Employee Code</th>
                                <th class="text-center">Employee Name</th>
                                <th class="text-center">Designation</th>
                                <th class="text-center">Gross Total</th>
                                <th class="text-center">Total Deductions</th>
                                <th class="text-center">Net Salary</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in GetAllGeneratedMontlysalary">
                                <td class="text-center pointer">{{$index+1}}</td>
                                <td class="text-center pointer"><div><input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.EmployeeCode" /></div></td>
                                <td class="text-center pointer"><div><input type="text" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))' class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.EmployeeName" /></div></td>
                                <td class="text-center pointer"><div><input type="text" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))' class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.Designation" /></div></td>
                                <td class="text-center pointer"><div><input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.GrossTotal" /></div></td>
                                <td class="text-center pointer"><div><input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.TotalDeductions" /></div></td>
                                <td class="text-center pointer"><div><input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.NetSalary" /></div></td>

                                <td class="text-center">
                                    <button class="btn-xs btn btn-info" style="width: 70px;" ng-show="edit{{$index + 1}}" ng-click="EditIncrement(data,$index+1)">
                                        Edit
                                    </button>
                                    <button class="btn-xs btn btn-primary" style="width: 70px;" ng-show="!edit{{$index + 1}}" ng-click="UpdateIncrement(data,$index+1)">
                                        Update
                                    </button>

                                </td>

                                <td style="text-align:center">
                                    <button class="btn-xs btn btn-success" title="Click here to Inactive" ng-click="ChangeActive(data.FinancialYearID,data.MonthID,data.IncrementID,0)" ng-if="data.Active==1">Active</button>
                                    <button class="btn-xs btn btn-danger" title="Click here to Active" ng-click="ChangeActive(data.FinancialYearID,data.MonthID,data.IncrementID,1)" ng-if="data.Active==0">InActive</button>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>-->





            </div>

            <div class="sm-spacer"></div>
        </div>


    </div>
</div>
