 <style>
    .btn_top {
        margin-top: 25px;
    }
  
    .card {
        margin-bottom: 50px;
    }
   
   
</style>
<div ng-controller="OfficersController">
    <div class="container content">
        <div class="col-md-12">
            <button class="btn bck_btn"><a href="#!/Dashboard/PayRollDashboard" class="backA"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>  Back</a></button>
        </div>
        <ul class="nav nav-tabs">
            <li class="active noprint">
                <a href="#1" class="noprint" data-toggle="tab">Increments</a>
            </li>
            <li class="noprint">
                <a href="#2" class="noprint" data-toggle="tab">Deductions</a>
            </li>
            <li class="noprint">
                <a href="#3" class="noprint" data-toggle="tab">Leaves</a>
            </li>
            <li class="noprint">
                <a href="#4" class="noprint" data-toggle="tab">PayRoll</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="1">
                <div class="card">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Financial Year:</label>
                            <div class="">
                                <select class="form-control" ng-model="FinancialYear" name="FinancialYear" required>
                                    <option value="" selected>Select Financial Year</option>
                                    <option ng-repeat="data in FinancialYears" value="{{data.FinancialYearId}}">
                                        {{data.FinancialYear}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Month:</label>
                            <div class="">
                                <select class="form-control" ng-model="Month" name="StudentType" required>
                                    <option value="" selected>Select Month </option>
                                    <option ng-repeat="data in MonthsData" value="{{data.MonthID}}">
                                        {{data.Months}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Employee Id:</label>
                            <select class="form-control" ng-model="Employee" ng-change="ChangeEmpData(Employee)" name="StudentType" required>
                                <option value="" selected>Select Employee </option>
                                <option ng-repeat="data in EmployeeDetailsData" value="{{data}}">
                                    {{data.EmployeeName}} ({{data.EmployeeCode}})
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <div class="form-group text-center">
                            <button class="btn btn-sm btn-primary  text-center  gr-button btn_top" ng-click="GetReport()">
                                Get Details
                                <span class="fa fa-arrow-down heading_icon btn_icons"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="sm-spacer"></div>
                <div class="card" ng-show="EmployeeData">
                    <div class="col-md-3"><b>Employee Name </b></div>
                    <div class="col-md-9">: {{EmployeeName}}</div>
                    <div class="col-md-3"><b>Employee Id </b></div>
                    <div class="col-md-9">: {{EmployeeCode}}</div>
                    <div class="col-md-3"><b>Designation </b></div>
                    <div class="col-md-9">: {{Designation}}</div>
                    <br />
                    <div class="col-md-3"><b>Increment Amount :</b></div>
                    <div class="col-md-3"><input class="form-control" name="IncrementAmount" ng-model="IncrementAmount" placeholder="Increment Amount" /></div>
                    <br />
                    <div class="col-md-9" ng-show="EmployeeData">
                        <button class="btn btn-success pull-right" ng-click="SaveIncrement()">Save</button>
                    </div>
                </div>
                <div class="">
                    <table class="table table-responsive table-bordered">
                        <thead>
                            <tr class="clr_bg">
                                <th>Financial Year</th>
                                <th>Month</th>
                                <th>Employee Code</th>
                                <th>Employee Name</th>
                                <th>Designation</th>
                                <th>Increment Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in GetAllIncrements">
                                <td>{{data.FinancialYear}}</td>
                                <td>{{data.Months}}</td>
                                <td>{{data.EmployeeCode}}</td>
                                <td>{{data.EmployeeName}}</td>
                                <td>{{data.Designation}}</td>
                                <td>{{data.IncrementAmount}}</td>

                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
            <div class="tab-pane" id="2">
                <div class="card">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Financial Year:</label>
                            <div class="">
                                <select class="form-control" ng-model="FinancialYear" name="FinancialYear" required>
                                    <option value="" selected>Select Financial Year</option>
                                    <option ng-repeat="data in FinancialYears" value="{{data.FinancialYearId}}">
                                        {{data.FinancialYear}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Month:</label>
                            <div class="">
                                <select class="form-control" ng-model="Month" name="StudentType" required>
                                    <option value="" selected>Select Month </option>
                                    <option ng-repeat="data in MonthsData" value="{{data.MonthID}}">
                                        {{data.Months}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Employee Id:</label>
                            <select class="form-control" ng-model="Employee1" ng-change="ChangeEmpDedData(Employee1)" name="StudentType" required>
                                <option value="" selected>Select Employee </option>
                                <option ng-repeat="data in EmployeeDetailsData" value="{{data}}">
                                    {{data.EmployeeName}} ({{data.EmployeeCode}})
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <div class="form-group text-center">
                            <button class="btn btn-sm btn-primary  text-center  gr-button btn_top" ng-click="GetReport()">
                                Get Details
                                <span class="fa fa-arrow-down heading_icon btn_icons"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card" ng-show="EmployeeData">
                    <div class="col-md-3"><b>Employee Name </b></div>
                    <div class="col-md-9">: {{EmployeeName}}</div>
                    <div class="col-md-3"><b>Employee Id </b></div>
                    <div class="col-md-9">: {{EmployeeCode}}</div>
                    <div class="col-md-3"><b>Designation </b></div>
                    <div class="col-md-9">: {{Designation}}</div>
                    <div class="col-md-3"><b>IT  :</b></div>
                    <div class="col-md-3"><input class="form-control" name="IT" ng-model="IT" placeholder="IT" /></div>
                    <div class="col-md-3"><b>FlagFund :</b></div>
                    <div class="col-md-3"><input class="form-control" name="FlagFund" ng-model="FlagFund" placeholder="FlagFund" /></div>
                    <div class="col-md-3"><b>Harithanidhi :</b></div>
                    <div class="col-md-3"><input class="form-control" name="Harithanidhi" ng-model="Harithanidhi" placeholder="Harithanidhi" /></div>
                    <div class="col-md-3"><b>Deduction Amount :</b></div>
                    <div class="col-md-3"><input class="form-control" name="DeductionAmount" ng-model="DeductionAmount" placeholder="Deduction Amount" /></div>
                    <div class="col-md-9" ng-show="EmployeeData">
                        <button class="btn btn-success pull-right" ng-click="SaveDeduction()">Save</button>
                    </div>
                </div>




                <div class="sm-spacer"></div>
                <div class="">
                    <table class="table table-responsive table-bordered">
                        <thead>
                            <tr class="clr_bg">
                                <th>Financial Year</th>
                                <th>Month</th>
                                <th>Employee Code</th>
                                <th>Employee Name</th>
                                <th>Designation</th>
                                <th>IT</th>
                                <th>FlagFund</th>
                                <th>Harithanidhi</th>
                                <th>Deduction Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in GetAllDeductions">
                                <td>{{data.FinancialYear}}</td>
                                <td>{{data.Months}}</td>
                                <td>{{data.EmployeeCode}}</td>
                                <td>{{data.EmployeeName}}</td>
                                <td>{{data.Designation}}</td>
                                <td>{{data.IT}}</td>
                                <td>{{data.FlagFund}}</td>
                                <td>{{data.Harithanidhi}}</td>
                                <td>{{data.DeductionAmount}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>

            <div class="tab-pane" id="3">
                <div class="card">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Financial Year:</label>
                            <div class="">
                                <select class="form-control" ng-model="FinancialYear" name="FinancialYear" required>
                                    <option value="" selected>Select Financial Year</option>
                                    <option ng-repeat="data in FinancialYears" value="{{data.FinancialYearId}}">
                                        {{data.FinancialYear}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Month:</label>
                            <div class="">
                                <select class="form-control" ng-model="Month" name="StudentType" required>
                                    <option value="" selected>Select Month </option>
                                    <option ng-repeat="data in MonthsData" value="{{data.MonthID}}">
                                        {{data.Months}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Employee Id:</label>
                            <select class="form-control" ng-model="Employee" ng-change="ChangeEmpLevData(Employee)" name="StudentType" required>
                                <option value="" selected>Select Employee </option>
                                <option ng-repeat="data in EmployeeDetailsData" value="{{data}}">
                                    {{data.EmployeeName}} ({{data.EmployeeCode}})
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <div class="form-group text-center">
                            <button class="btn btn-sm btn-primary  text-center  gr-button btn_top" ng-click="GetEmployeeLeaveBalance()">
                                Get Details
                                <span class="fa fa-arrow-down heading_icon btn_icons"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="sm-spacer"></div>
                <div class="card"  ng-show="ShowLeaveData">

                    <div class="col-md-3"><b>Employee Name </b></div>
                    <div class="col-md-9">: {{LeavesEmployeeName}}</div>
                    <div class="col-md-3"><b>Employee Id </b></div>
                    <div class="col-md-9">: {{LeavesEmployeeCode}}</div>
                    <div class="col-md-3"><b>Designation </b></div>
                    <div class="col-md-9">: {{Designation}}</div>
                    <div class="col-md-3"><b>Medical Leaves </b></div>
                    <div class="col-md-9">: {{MedicalLeavesBalance}}</div>
                    <div class="col-md-3"><b>Casual Leaves </b></div>
                    <div class="col-md-9">: {{CasualLeavesBalance}}</div>
                    <div class="col-md-3"><b>Earn Leaves </b></div>
                    <div class="col-md-9">: {{EarnLeavesBalance}}</div>
                    <div class="col-md-3"><b>Total Leaves </b></div>
                    <div class="col-md-9">: {{LeavesBalance}}</div>
                    <div class="col-md-3"><b>Medical Leaves :</b></div>
                    <div class="col-md-3"><input class="form-control" name="MedicalLeaves" ng-model="MedicalLeaves" ng-change="ChangeLeaves()" placeholder="Medical Leaves" /></div>
                    <div class="col-md-3"><b>Casual Leaves :</b></div>
                    <div class="col-md-3"><input class="form-control" name="CasualLeaves" ng-model="CasualLeaves" ng-change="ChangeLeaves()" placeholder="Casual Leaves" /></div>
                    <div class="col-md-3"><b>Earn Leaves :</b></div>
                    <div class="col-md-3"><input class="form-control" name="EarnLeaves" ng-model="EarnLeaves" ng-change="ChangeLeaves()" placeholder="Earn Leaves" /></div>
                    <div class="col-md-3"><b>Leaves Required :</b></div>
                    <div class="col-md-3"><input class="form-control" ng-model="LeavesRequired" disabled name="LeavesRequired" placeholder="Leaves Required" /></div>
                    <div class="col-md-3"><b>Remaining Leaves :</b></div>
                    <div class="col-md-3"><input class="form-control" ng-model="RemainingLeaves" disabled name="RemainingLeaves" placeholder="Total Leaves" /></div>
                    <div class="col-md-9" ng-show="savebutton">
                        <button class="btn btn-success pull-right" ng-click="SaveLeaves()">Save</button>
                    </div>
                </div>
                <div class="sm-spacer"></div>
                <div class="">
                    <table class="table table-responsive table-bordered">
                        <thead>
                            <tr class="clr_bg">
                                <th>Financial Year</th>
                                <th>Month</th>
                                <th>Employee Code</th>
                                <th>Employee Name</th>
                                <th>Designation</th>
                                <th>Medical Leaves</th>
                                <th>Casual Leaves</th>
                                <th>Earn Leaves</th>
                                <th>Total Leaves</th>
                                <th>Leaves Required</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in EmployeeLeaveData">
                                <td>{{data.FinancialYear}}</td>
                                <td>{{data.Months}}</td>
                                <td>{{data.EmployeeCode}}</td>
                                <td>{{data.EmployeeName}}</td>
                                <td>{{data.DesignationName}}</td>
                                <td>{{data.MedicalLeaves}}</td>
                                <td>{{data.CasualLeaves}}</td>
                                <td>{{data.EarnLeaves}}</td>
                                <td>{{data.TotalLeaves}}</td>
                                <td>{{data.LeavesRequired}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            

           


            <div class="tab-pane" id="4">
                <div class="card">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Financial Year:</label>
                            <div class="">
                                <select class="form-control" ng-model="FinancialYear" name="FinancialYear" required>
                                    <option value="" selected>Select Financial Year</option>
                                    <option ng-repeat="data in FinancialYears" value="{{data.FinancialYearId}}">
                                        {{data.FinancialYear}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Month:</label>
                            <div class="">
                                <select class="form-control" ng-model="Month" name="StudentType" required>
                                    <option value="" selected>Select Month </option>
                                    <option ng-repeat="data in MonthsData" value="{{data.MonthID}}">
                                        {{data.Months}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Employee Id:</label>
                            <select class="form-control" ng-model="EmployeeID" name="StudentType" required>
                                <option value="" selected>Select Employee </option>
                                <option ng-repeat="data in EmployeeDetailsData" value="{{data.EmployeeID}}">
                                    {{data.EmployeeName}} ({{data.EmployeeCode}})
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <div class="form-group text-center">
                            <button class="btn btn-sm btn-primary  text-center  gr-button btn_top" ng-click="GetReport()">
                                Get Details
                                <span class="fa fa-arrow-down heading_icon btn_icons"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="sm-spacer"></div>
            </div>
        </div>
        <div class="sm-spacer"></div>
    </div>
</div>
