<div ng-controller="OverAllDeductionsController">
    <div class="container content">
        <div class="col-md-12">
            <button class="btn bck_btn"><a href="#!/Dashboard/PayRollDashboard" class="backA"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>  Back</a></button>
        </div>
        <ul class="nav nav-tabs">
            <li class="active noprint">
                <a href="#1" class="noprint" data-toggle="tab">National Pension Scheme(NPS)</a>
            </li>
            <li class="noprint">
                <a href="#2" class="noprint" data-toggle="tab">All Advances</a>
            </li>
            <li class="noprint">
                <a href="#3" class="noprint" data-toggle="tab">House Building Advance</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="1">
                <div class="card">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Employee Id:</label>
                            <select class="form-control" ng-model="EmployeeID"
                                    ng-options="data.EmployeeID as data.EmployeeName for data in EmployeeDetailsData">
                                <option value="" selected>Select Employee Name</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <div class="form-group text-center">
                            <button class="btn btn-sm btn-primary  text-center  gr-button btn_top" ng-click="GetReport()">
                                Get Details
                                <span class="fa fa-arrow-down heading_icon btn_icons"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="sm-spacer"></div>

                <div class="card">
                    <div class="col-md-3"><b>Name </b></div>
                    <div class="col-md-9">: Akhil</div>
                    <div class="col-md-3"><b>Father Name </b></div>
                    <div class="col-md-9">: 10</div>
                    <div class="col-md-3"><b>EmployeeId </b></div>
                    <div class="col-md-9">: 8</div>
                    <div class="col-md-3"><b>Pension  Amount </b></div>
                    <div class="col-md-3"><input class="form-control" placeholder="Pension Amount" name="PensionAmount"></div>
                    <br />
                    <div class="col-md-9">
                        <button class="btn btn-success pull-right">Submit</button>
                    </div>
                </div>
            </div>
            <div class="tab-pane " id="2">
                <div class="card">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Employee Id:</label>
                            <select class="form-control" ng-model="EmployeeID"
                                    ng-options="data.EmployeeID as data.EmployeeName for data in EmployeeDetailsData">
                                <option value="" selected>Select Employee Name</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <div class="form-group text-center">
                            <button class="btn btn-sm btn-primary  text-center  gr-button btn_top" ng-click="GetReport()">
                                Get Details
                                <span class="fa fa-arrow-down heading_icon btn_icons"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="sm-spacer"></div>
                <div class="card">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Festival Advance:</label>
                            <select class="form-control" ng-model="FinancialYear" name="FinancialYear" required>
                                <option value="" selected>Select </option>
                                <option ng-repeat="data in Values" value="{{data.id}}">
                                    {{data.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Amount:</label>
                            <input class="form-control" name="Amount" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Months:</label>
                            <input class="form-control" name="Months" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Emi Start Month:</label>
                            <input class="form-control" name="Months" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Special Festival Advance:</label>
                            <select class="form-control" ng-model="FinancialYear" name="FinancialYear" required>
                                <option value="" selected>Select </option>
                                <option ng-repeat="data in Values" value="{{data.id}}">
                                    {{data.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Amount:</label>
                            <input class="form-control" name="Amount" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Months:</label>
                            <input class="form-control" name="Months" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Emi Start Month:</label>
                            <input class="form-control" name="Months" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Education Advance:</label>
                            <select class="form-control" ng-model="FinancialYear" name="FinancialYear" required>
                                <option value="" selected>Select </option>
                                <option ng-repeat="data in Values" value="{{data.id}}">
                                    {{data.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Amount:</label>
                            <input class="form-control" name="Amount" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Months:</label>
                            <input class="form-control" name="Months" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Emi Start Month:</label>
                            <input class="form-control" name="Months" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Marriage Advance:</label>
                            <select class="form-control" ng-model="FinancialYear" name="FinancialYear" required>
                                <option value="" selected>Select </option>
                                <option ng-repeat="data in Values" value="{{data.id}}">
                                    {{data.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Amount:</label>
                            <input class="form-control" name="Amount" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Months:</label>
                            <input class="form-control" name="Months" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Emi Start Month:</label>
                            <input class="form-control" name="Months" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Vehicle Advance:</label>
                            <select class="form-control" ng-model="FinancialYear" name="FinancialYear" required>
                                <option value="" selected>Select </option>
                                <option ng-repeat="data in Values" value="{{data.id}}">
                                    {{data.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Amount:</label>
                            <input class="form-control" name="Amount" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Months:</label>
                            <input class="form-control" name="Months" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Emi Start Month:</label>
                            <input class="form-control" name="Months" />
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="form-group text-center">
                            <button class="btn btn-sm btn-success  text-center  gr-button btn_top" ng-click="">
                                Submit
                                <span class="fa fa-arrow-down heading_icon btn_icons"></span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane " id="3">
                <div class="card">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Employee Id:</label>
                            <select class="form-control" ng-model="EmployeeID"
                                    ng-options="data.EmployeeID as data.EmployeeName for data in EmployeeDetailsData">
                                <option value="" selected>Select Employee Name</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <div class="form-group text-center">
                            <button class="btn btn-sm btn-primary  text-center  gr-button btn_top" ng-click="GetReport()">
                                Get Details
                                <span class="fa fa-arrow-down heading_icon btn_icons"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="sm-spacer"></div>
            </div>
        </div>
    </div>
    <div class="sm-spacer"></div>
    <div class="sm-spacer"></div>
</div>
