
<style>
    .tableinpt {
        width: 100%;
        box-shadow: none;
        border: 0;
        pointer-events: none;
        cursor: pointer;
    }
    /*----------------------------------------------date time css-------------------------------------------------------*/
    .btn-default, .btn-dark-blue {
        border-color: #314559;
        color: #000;
        background-color: white;
    }

        .btn-default.active, .btn-dark-blue.active, .open .dropdown-toggle.btn-default, .open .dropdown-toggle.btn-dark-blue {
            border-color: #2c3e50;
            color: #fff;
            background-color: #2f4254;
        }

    button > span.active {
        color: #ffffff !important;
    }

    .text-info {
        color: #ffffff;
    }

    span {
        color: #000 !important;
    }
    /*--------------------------------------------------*/
    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #f9f9f9 !important;
    }
</style>
<div ng-controller="PensionDetailsController">
    <div class="breadcrumb-header">
        <!-- breadcrumb Open -->
        <div class="container">
            <section class="content-header">
                <h5>Pension Details</h5>
                <ol class="breadcrumb">
                    <li><a href="#!/Dashboard"><i class="fa fa-dashboard"> Dashboard</i> </a></li>
                    <li><a href="#!/Dashboard/Pensioners">Pay Roll</a></li>
                    <li><a href="#!/Dashboard/Pensioners/PensionDetails">Pension Details</a></li>
                </ol>
            </section>
        </div>
        <!-- breadcrumb Close -->
    </div>
    <div class="container">
        <div class="col-md-12">
            <button class="btn bck_btn"><a href="#!/Dashboard/Pensioners" class="backA"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>  Back</a></button>
        </div>

    </div>
    <div>
        <div class="container">
            <div class="tab-pane">
                <div class="col-md-12">
                    <div class="alert alert-info">
                        <div class="studWishinputs">
                            <form novalidate="" class="ng-pristine ng-invalid ng-invalid-required">
                                <div class="row">


                                    <div class="form-group col-md-4">
                                        <label>
                                            Pensioner Type:
                                        </label>
                                        <select class="form-control" id="Pensionerid" ng-model="PensionerType" ng-change="ChangePensionerType(PensionerType)"
                                                ng-options="data.PensionerTypeID as data.PensionerType for data in PensionerTypeData">
                                            <option value="" selected>Select Pensioner Type</option>
                                        </select>

                                    </div>


                                    <div class="form-group col-md-4">
                                        <label>
                                            Pensioner Name :
                                        </label>

                                        <select class="form-control" ng-model="Pensioner" ng-change="changePensioner(Pensioner)"
                                                ng-options="data as data.PensionerName for data in PensionerDetailsData">
                                            <option value="" selected>Select Pensioner Name</option>
                                        </select>

                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>
                                            Pension Amount :
                                        </label>
                                        <input class="form-control" type="text" maxlength="100" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="Enter Pension Amount" ng-model="PensionAmount">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>
                                            Commutation Amount :
                                        </label>
                                        <input class="form-control" type="text" maxlength="100" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="Enter Commutation Amount" ng-model="CommutationAmount">
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label>
                                            DR:
                                        </label>

                                        <select class="form-control" name="applicationForm.DR" ng-model="DR" ng-disabled="DRfound">
                                            <option value="">Select DR </option>
                                            <option value="1">Yes</option>
                                            <option value="0">No</option>
                                        </select>

                                    </div>


                                    <div class="form-group col-md-3">
                                        <label>
                                            IR:
                                        </label>

                                        <select class="form-control" name="applicationForm.IR" ng-model="IR" ng-disabled="IRfound">
                                            <option value="">Select IR </option>
                                            <option value="1">Yes</option>
                                            <option value="0">No</option>
                                        </select>

                                    </div>




                                    <div class="form-group col-md-3">
                                        <label>
                                            MA:
                                        </label>
                                        <input class="form-control" type="text" maxlength="100" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="Enter MA" ng-model="MA">
                                    </div>



                                    <div class="col-md-3" style="right:100px">
                                        <div class="form-group text-center">
                                            <button class="btn btn-sm btn-primary  text-center  gr-button btn_top" ng-click="ADDPensionerDetails()">
                                                ADD
                                                <span class="fa fa-arrow-down heading_icon btn_icons"></span>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3" ng-show="PensionDetailsData.length>0">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="search..."
                           ng-model="searchtxt">
                    <span class="input-group-btn">
                        <button class="btn btn-primary search-btn" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
            <table class="table table-responsive table-bordered" ng-show="PensionDetailsData.length>0">
                <thead>
                    <tr class="cb-1">
                        <th>S.No</th>
                        <th class="text-center">Pensioner Type</th>
                        <th class="text-center">Pensioner Name</th>
                        <th class="text-center">Pension Amount</th>
                        <th class="text-center">Commutation Amount</th>
                        <th class="text-center">DR </th>
                        <th class="text-center">IR</th>
                        <th class="text-center">MA </th>
                        <th class="text-center">Action</th>
                        <th class="text-center">Active</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in PensionDetailsData | filter: searchtxt">
                        <td class="text-center">{{$index + 1}}</td>

                        <!--<td class="text-center pointer"><div><input type="text" class="form-control tableinpt enabletable{{$index + 1}}" disabled ng-model="data.PensionerType" /></div></td>
                        <td class="text-center pointer"><div><input type="text" class="form-control tableinpt enabletable{{$index + 1}}" disabled ng-model="data.PensionerName" /></div></td>



                        <td class="text-center pointer"><div><input type="text" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.PensionAmount" /></div></td>
                        <td class="text-center pointer"><div><input type="text" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.CommutationAmount" /></div></td>

                        <td class="text-center pointer">
                            <div>
                                <select class="form-control tableinpt enabletable{{$index + 1}}" name="applicationForm.DR"
                                        ng-model="data.DR"
                                        ng-options="opt.value as opt.label for opt in [{label:'Yes', value:true}, {label:'No', value:false}]">
                                    <option value="">Select DR</option>
                                </select>
                            </div>
                        </td>
                        <td class="text-center pointer">
                            <div>
                                <select class="form-control tableinpt enabletable{{$index + 1}}" name="applicationForm.IR"
                                        ng-model="data.IR"
                                        ng-options="opt.value as opt.label for opt in [{label:'Yes', value:true}, {label:'No', value:false}]">
                                    <option value="">Select IR</option>
                                </select>
                            </div>
                        </td>

                        <td class="text-center pointer"><div><input type="text" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.MA" /></div></td>-->

                        <td>
                            <span ng-show="edit[$index]" disabled>{{data.PensionerType}}</span>
                            <input type="text" ng-model="data.PensionerType" disabled ng-show="!edit[$index]" class="form-control" />
                        </td>

                        <td>
                            <span ng-show="edit[$index]" disabled>{{data.PensionerName}}</span>
                            <input type="text" disabled ng-model="data.PensionerName" ng-show="!edit[$index]" class="form-control" />
                        </td>


                        <td>
                            <span ng-show="edit[$index]">{{data.PensionAmount}}</span>
                            <input type="text" ng-model="data.PensionAmount" ng-show="!edit[$index]" class="form-control" />
                        </td>


                        <td>
                            <span ng-show="edit[$index]">{{data.CommutationAmount}}</span>
                            <input type="text" ng-model="data.CommutationAmount" ng-show="!edit[$index]" class="form-control" />
                        </td>


                        <td>
                            <span ng-show="edit[$index]">{{data.DR ? "Yes" : "No"}} </span>
                            <select class="form-control" name="applicationForm.DR"
                                    ng-model="data.DR"
                                    ng-options="opt.value as opt.label for opt in [{label:'Yes', value:true}, {label:'No', value:false}]"
                                    ng-show="!edit[$index]">
                                <option value="">Select DR</option>
                            </select>
                        </td>


                        <td>
                            <span ng-show="edit[$index]">{{data.IR ? "Yes" : "No"}}</span>
                            <select class="form-control" name="applicationForm.DR"
                                    ng-model="data.IR"
                                    ng-options="opt.value as opt.label for opt in [{label:'Yes', value:true}, {label:'No', value:false}]"
                                    ng-show="!edit[$index]">
                                <option value="">Select IR</option>
                            </select>
                        </td>

                        <td>
                            <span ng-show="edit[$index]">{{data.MA}}</span>
                            <input type="text" ng-model="data.MA" ng-show="!edit[$index]" class="form-control" />
                        </td>

                        <td class="text-center">
                            <button class="btn-xs"
                                    ng-class="edit[$index] ? 'btn-info' : 'btn-primary'"
                                    ng-click="edit[$index] ? edit[$index] = false : UpdateDetails(data, $index)">
                                {{ edit[$index] ? 'Edit' : 'Update' }}
                            </button>

                        </td>

                        <td style="text-align:center">
                            <button class="btn-xs btn btn-success" title="Click here to Inactive" ng-click="ChangeDetails(data.PensionerDetailsID,data.PensionerTypeID,0)" ng-if="data.Active==1">Active</button>
                            <button class="btn-xs btn btn-danger" title="Click here to Active" ng-click="ChangeDetails(data.PensionerDetailsID,data.PensionerTypeID,1)" ng-if="data.Active==0">InActive</button>
                        </td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="spacer"></div>


</div>
<div class="sm-spacer"></div>
<div class="sm-spacer"></div>
