<style>
    .btn_top {
        margin-top: 25px;
    }

    .card {
        margin-bottom: 50px;
    }

    .row {
        margin-right: -15px;
        margin-left: 0px !important;
    }

    .tableinpt {
        width: 100%;
        box-shadow: none;
        border: 0;
        pointer-events: none;
        cursor: pointer;
    }
    /*----------------------------------------------date time css-------------------------------------------------------*/
    .btn-default, .btn-dark-blue {
        border-color: #314559;
        color: #000;
        background-color: white;
    }

        .btn-default.active, .btn-dark-blue.active, .open .dropdown-toggle.btn-default, .open .dropdown-toggle.btn-dark-blue {
            border-color: #2c3e50;
            color: #fff;
            background-color: #2f4254;
        }

    button > span.active {
        color: #ffffff !important;
    }

    .text-info {
        color: #ffffff;
    }

    span {
        color: #000 !important;
    }
    /*--------------------------------------------------*/
    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #f9f9f9 !important;
    }
</style>
<div ng-controller="PensionerGenerationController">
    <div class="breadcrumb-header">
        <!-- breadcrumb Open -->
        <div class="container">
            <section class="content-header">
                <h5>Pension Generation</h5>

            </section>
        </div>
        <!-- breadcrumb Close -->
    </div>
    <div class="container content">
        <div class="col-md-12">
            <button class="btn bck_btn"><a href="#!/Dashboard/Pensioners" class="backA"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>  Back</a></button>
        </div>
        <ul class="nav nav-tabs">
            <li class="active noprint">
                <a href="#1" class="noprint  font-weight-bold" data-toggle="tab">Generate Montly Pension</a>
            </li>
            <li class="noprint">
                <a href="#2" class="noprint  font-weight-bold" data-toggle="tab">Publish Montly Pension</a>
            </li>
            <li class="noprint">
                <a href="#3" class="noprint   font-weight-bold" data-toggle="tab">Generate Pension Report</a>
            </li>
            <li class="noprint">
                <a href="#4" class="noprint   font-weight-bold" data-toggle="tab">Pension Payslips</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="1">
                <div class="card">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Financial Year:</label>
                            <div class="">
                                <select class="form-control" ng-model="FinancialYearID1" name="FinancialYear" required ng-change="changeFinYear(FinancialYearID1)">
                                    <option value="" selected>Select Financial Year</option>
                                    <option ng-repeat="data in FinancialYears" value="{{data.FinancialYearId}}">
                                        {{data.FinancialYear}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Month:</label>
                            <div class="">
                                <select class="form-control" ng-model="MonthID1" name="StudentType" ng-change="ChangeMonth(MonthID1)" required>
                                    <option value="" selected>Select Month </option>
                                    <option ng-repeat="data in MonthsData" value="{{data.MonthID}}">
                                        {{data.Months}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 text-center">
                        <div class="form-group text-center">
                            <button class="btn btn-sm btn-primary  text-center  gr-button btn_top" ng-click="generatemonthlypension()">
                                Generate Pension
                                <span class="fa fa-arrow-down heading_icon btn_icons"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" ng-if="GetAllGeneratedMontlypension.length>0">
                    <div class="pull-right">
                        <a class="ExportToExcel1 pointer"
                           id="ExportToExcel1" ng-click="getGeneratePensionExcel('#tblParent')">
                            <i class="fa fa-file-excel-o"></i>
                            Export to Excel
                        </a>
                    </div>
                </div>
                <div class="" ng-show="GetAllGeneratedMontlypension.length>0">
                    <table class="table table-responsive table-bordered">
                        <thead>
                            <tr class="cb-1">
                                <th>S.No</th>
                                <th class="text-center">Pensioner Code</th>
                                <th class="text-center">Pensioner Name</th>
                                <th class="text-center">Nominee Name</th>
                                <th class="text-center">Pension Amount</th>
                                <th class="text-center">DR</th>
                                <th class="text-center">IR</th>
                                <th class="text-center">MA</th>
                                <!--<th class="text-center">Recovery / TDS</th>
                        <th class="text-center">CMRF</th>-->
                                <th class="text-center">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in GetAllGeneratedMontlypension">
                                <td class="text-center pointer">{{$index+1}}</td>
                                <td class="text-center pointer"><div><input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.PensionerCode" /></div></td>
                                <td class="text-center pointer"><div><input type="text" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))' class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.PensionerName" /></div></td>
                                <td class="text-center pointer"><div><input type="text" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))' class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.NomineeName" /></div></td>
                                <td class="text-center pointer"><div><input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.PensionAmount" /></div></td>
                                <td class="text-center pointer"><div><input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.DR" /></div></td>
                                <td class="text-center pointer"><div><input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.IR" /></div></td>
                                <td class="text-center pointer"><div><input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.MA" /></div></td>
                                <!--<td class="text-center pointer"><div><input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.Recovery_TDS" /></div></td>
                        <td class="text-center pointer"><div><input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.CMRFAmount" /></div></td>-->
                                <td class="text-center pointer"><div><input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.NetTotal" /></div></td>
                            </tr>

                        </tbody>
                    </table>
                </div>





            </div>




            <div class="tab-pane " id="2">
                <div class="card">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Financial Year:</label>
                            <div class="">
                                <select class="form-control" ng-model="FinancialYearID2" name="FinancialYear" ng-change="changeFinYear1(FinancialYearID2)" required>
                                    <option value="" selected>Select Financial Year</option>
                                    <option ng-repeat="data in FinancialYears" value="{{data.FinancialYearId}}">
                                        {{data.FinancialYear}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Month:</label>
                            <div class="">
                                <select class="form-control" ng-model="MonthID2" name="StudentType" ng-change="ChangeMonth2(MonthID2)" required>
                                    <option value="" selected>Select Month </option>
                                    <option ng-repeat="data in AllMonthsData" value="{{data.MonthID}}">
                                        {{data.Months}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 text-center">
                        <div class="form-group text-center">
                            <button class="btn btn-sm btn-primary  text-center  gr-button btn_top" ng-click="publishmonthlypension()">
                                Publish Pension
                                <span class="fa fa-arrow-down heading_icon btn_icons"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" ng-if="GetAllPublishMontlypension.length>0">
                    <div class="pull-right">
                        <a class="ExportToExcel1 pointer"
                           id="ExportToExcel1" ng-click="getPublishedPensionExcel('#tblParent')">
                            <i class="fa fa-file-excel-o"></i>
                            Export to Excel
                        </a>
                    </div>
                </div>
                <div class="" ng-show="GetAllPublishMontlypension.length>0">
                    <table class="table table-responsive table-bordered">
                        <thead>
                            <tr class="cb-1">
                                <th>S.No</th>
                                <th class="text-center">Pensioner Code</th>
                                <th class="text-center">Pensioner Name</th>
                                <th class="text-center">Nominee Name</th>
                                <th class="text-center">Pension Amount</th>
                                <th class="text-center">DR</th>
                                <th class="text-center">IR</th>
                                <th class="text-center">MA</th>
                                <!--<th class="text-center">Recovery / TDS</th>
                        <th class="text-center">CMRF</th>-->
                                <th class="text-center">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in GetAllPublishMontlypension">
                                <td class="text-center pointer">{{$index+1}}</td>
                                <td class="text-center pointer"><div><input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.PensionerCode" /></div></td>
                                <td class="text-center pointer"><div><input type="text" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))' class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.PensionerName" /></div></td>
                                <td class="text-center pointer"><div><input type="text" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))' class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.NomineeName" /></div></td>
                                <td class="text-center pointer"><div><input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.PensionAmount" /></div></td>
                                <td class="text-center pointer"><div><input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.DR" /></div></td>
                                <td class="text-center pointer"><div><input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.IR" /></div></td>
                                <td class="text-center pointer"><div><input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.MA" /></div></td>
                                <!--<td class="text-center pointer"><div><input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.Recovery_TDS" /></div></td>
                        <td class="text-center pointer"><div><input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.CMRFAmount" /></div></td>-->
                                <td class="text-center pointer"><div><input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.NetTotal" /></div></td>
                            </tr>

                        </tbody>
                    </table>
                </div>





            </div>

            <div class="tab-pane " id="3">
                <div class="card">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Financial Year:</label>
                            <div class="">
                                <select class="form-control" ng-model="FinancialYearID4" name="FinancialYear" required>
                                    <option value="" selected>Select Financial Year</option>
                                    <option ng-repeat="data in FinancialYears" value="{{data.FinancialYearId}}">
                                        {{data.FinancialYear}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Month:</label>
                            <div class="">
                                <select class="form-control" ng-model="MonthID4" name="StudentType" required>
                                    <option value="" selected>Select Month </option>
                                    <option ng-repeat="data in AllMonthsData" value="{{data.MonthID}}">
                                        {{data.Months}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 text-center">
                        <div class="form-group text-center">
                            <button class="btn btn-sm btn-primary  text-center  gr-button btn_top" ng-click="getPensionGeneratedReports()">
                                Generate Pension Reports
                                <span class="fa fa-arrow-down heading_icon btn_icons"></span>
                            </button>
                        </div>
                    </div>
                </div>


            </div>









            <div class="tab-pane " id="4">
                <div class="card">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Financial Year:</label>
                            <div class="">
                                <select class="form-control" ng-model="FinancialYearID3" name="FinancialYear" required>
                                    <option value="" selected>Select Financial Year</option>
                                    <option ng-repeat="data in FinancialYears" value="{{data.FinancialYearId}}">
                                        {{data.FinancialYear}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Month:</label>
                            <div class="">
                                <select class="form-control" ng-model="MonthID3" name="StudentType" required>
                                    <option value="" selected>Select Month </option>
                                    <option ng-repeat="data in AllMonthsData" value="{{data.MonthID}}">
                                        {{data.Months}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 text-center">
                        <div class="form-group text-center">
                            <button class="btn btn-sm btn-primary  text-center  gr-button btn_top" ng-click="GeneratePensionPaySlip()">
                                Generate Pension Payslips
                                <span class="fa fa-arrow-down heading_icon btn_icons"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" ng-if="loading">
                    <div style="width:100%;text-align:center;">
                        <img src="../../../contents/img/Loading1.gif" width="100" />
                        <h4><b>Generating Pension PaySlips, Please wait...</b></h4>
                    </div>
                </div>






            </div>


            <div class="sm-spacer"></div>
        </div>


    </div>
</div>
