<style>
   
</style>
<div ng-controller="TwshReportsController">
   
    <div class="spacer"></div>
  
    <div class="container">
        <div class="spacer"></div>
        <div class="row" ng-if="userType == '3'">
            <div class="col-md-12 ">
                <div class="alert text-center " ng-class="{'{{statusclass}}': showStatus}" ng-if="showStatus">
                    {{StatusMessage}}
                </div>
            </div>
            <div class="col-md-12 " ng-show="data">
                <div class="cl-details">
                    <h2>Institution Reports</h2>
                </div>
                <!--<div style="width:100%;text-align:center;">
                    <img src="../../../../contents/img/loading2.gif" ng-show="LoadImg" width="100" />
                </div>-->
                <div id="attendanceReport" class="table-responsive table-custom-tables-tb scrollbox">
                    <table class="table table-bordered  table-striped table-rounded scrollbox-content">
                        <thead>
                            <tr class="cb-1">
                                <!--  <th style="width: 1%;"><input type="checkbox" ng-model="allItemsSelected" ng-change="selectAll()"></th>-->
                                <th style="width: 5%" ng-click="sort('Sno')">Sno</th>
                                <th style="width: 15%" ng-click="sort('Scheme')">Grade</th>
                                <th class="text-center" style="width: 10%" ng-click="sort('Semester')">Applied</th>
                                <th class="text-center" style="width: 10%" ng-click="sort('Branch')">Fee Paid</th>
                                <th class="text-center" style="width: 10%" ng-click="sort('On Roll')">Not Paid</th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="data in InstituteReports track by $index"  style="background-color:#fff!important;cursor:pointer;"
                                ng-click="openDetails(data.id)">
                                <!-- <td style="text-align: center" class="checkboxs"><input type="checkbox" ng-model="x.isChecked" ng-class="{selected: x.isChecked}" ng-change="selectEntity(x)"></td>-->
                                <td>{{$index+1}}</td>
                                <td>{{data.GradeName}}</td>
                                <td class="text-center">{{data.Applied}}</td>
                                <td class="text-center">{{data.FeePaid}}</td>
                                <td class="pointer text-center">{{data.FeeNotPaid}}</td>

                            </tr>
                            <tr style="cursor:pointer;" class="alert-success">
                                
                                <td colspan="2">Total</td>
                                <td class="text-center">{{Applied|number}}</td>
                                <td class="text-center">{{FeePaid}}</td>
                                <td class="pointer text-center">{{FeeNotPaid}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" ng-if="userType == '1'">
            <div class="col-md-12 ">
                <div class="alert text-center " ng-class="{'{{statusclass}}': showStatus}" ng-if="showStatus">
                    {{StatusMessage}}
                </div>
            </div>
            <div class="col-md-12 " ng-show="data">
                <div class="cl-details">
                    <h2>Admin Reports</h2>
                </div>
                <!--<div style="width:100%;text-align:center;">
                <img src="../../../../contents/img/loading2.gif" ng-show="LoadImg" width="100" />
            </div>-->
                <div id="attendanceReport" class="table-responsive table-custom-tables-tb scrollbox">
                    <table class="table table-bordered  table-striped table-rounded scrollbox-content">
                        <thead>
                            <tr class="cb-1">
                                <!--  <th style="width: 1%;"><input type="checkbox" ng-model="allItemsSelected" ng-change="selectAll()"></th>-->
                                <th style="width: 5%" ng-click="sort('Sno')">Sno</th>
                                <th style="width: 15%" ng-click="sort('Scheme')">Grade</th>
                                <th class="text-center" style="width: 10%" ng-click="sort('Semester')">Applied</th>
                                <th class="text-center" style="width: 10%" ng-click="sort('Branch')">Fee Paid</th>
                                <th class="text-center" style="width: 10%" ng-click="sort('On Roll')">Not Paid</th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="data in InstituteReports" style="background-color:#fff!important;">
                                <!-- <td style="text-align: center" class="checkboxs"><input type="checkbox" ng-model="x.isChecked" ng-class="{selected: x.isChecked}" ng-change="selectEntity(x)"></td>-->
                                <td>{{$index+1}}</td>
                                <td>{{data.GradeName}}</td>
                                <td class="text-center">{{data.Applied}}</td>
                                <td class="text-center">{{data.FeePaid}}</td>
                                <td class="pointer text-center">{{data.FeeNotPaid}}</td>

                            </tr>
                            <tr class="alert-success">
                                <td colspan="2">Total</td>
                                <td class="text-center">{{Applied|number}}</td>
                                <td class="text-center">{{FeePaid}}</td>
                                <td class="pointer text-center">{{FeeNotPaid}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   
    <div class="spacer"></div>
</div>