<style>
    .tableinpt {
        width: 100%;
        box-shadow: none;
        border: 0;
        pointer-events: none;
        cursor: pointer;
    }
        .table-custom-tables-tb .table-bordered > thead > tr > th {
   position:sticky;
   top:0px;
   
}
</style>
<div ng-controller="TwshExamCentersController">
    <div class="breadcrumb-header">
        <!-- breadcrumb Open -->
        <div class="container">
            <section class="content-header">
                <h5>TWSH Exam Centers</h5>
                <ol class="breadcrumb">
                    <li><a href="#!/Dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                    <li><a href="#!/Dashboard/TypeWriting"> TWSH</a></li>
                    <li><a href="#!/Dashboard/TypeWriting/SetTwshInstitutions">TWSH Exam Centers</a></li>
                </ol>
            </section>
        </div>
        <!-- breadcrumb Close -->
    </div>
    <div class="container">
        <div class="col-md-12">
            <button class="btn bck_btn"><a href="#!/Dashboard/TypeWriting" class="backA"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>  Back</a></button>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12">
            <!-- <div class="sm-spacer"></div>-->
            <div class="row" style="padding:0px!important">
                <div class="cl-details">
                    <h2>TWSH Exam Centers list</h2>
                </div>
            </div>
            <div class="base-row row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bold" for="sel1">
                            <b> Exam : </b>
                        </label>
                        <!--<select class="form-control " ng-model="ExamMode" name="ExamMode" >
                        <option value="" selected="selected">Select Exam mode</option>
                        <option value="{{Exam.Id}}" ng-repeat="Exam in ExamTypes">
                            {{Exam.Name}}
                        </option>
                    </select>-->
                        <select class="form-control" id="ExamMode" ng-model="ExamMode"
                                ng-options="Exam.Id as Exam.Name for Exam in ExamTypes ">
                            <option value="" selected>Select Exam mode</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="gr-btn">
                        <button class="btn btn-success" ng-click="GetDetails()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" ng-show="!Adddata">
            <div class="col-md-12">
                <button class="btn pull-right btn-default btn-css text-uppercase" style="margin-top: 10px;margin-bottom: 10px;" ng-click="addData()">
                    Add Exam Center
                </button>
            </div>
        </div>
        <div class="container" ng-show="Adddata">
            <div class="col-md-12">
                <div class="alert alert-info">
                    <div class="studWishinputs">
                        <form novalidate="" class="ng-pristine ng-invalid ng-invalid-required">
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label for="sel1">
                                        Exam Center :
                                    </label>
                                    <select class="form-control" ng-model="College" name="College">
                                        <option value="" selected>Select Exam Center</option>
                                        <option ng-repeat="center in ExamCenterCollegeList"  value="{{center}}">
                                            {{center.CollegeCode}} - {{center.CollegeName}}
                                        </option>
                                    </select>

                                </div>
                                <div class="col-md-3 form-group">
                                    <label for="sel1">
                                        Exam District :
                                    </label>
                                    <select class="form-control" ng-model="ExamDistrict" name="ExamDistrict">
                                        <option value="" selected>Select Exam District</option>
                                        <option ng-repeat="dist in ExamDistrictList"   value="{{dist.Id}}">
                                            {{dist.district_name}}
                                        </option>
                                    </select>
                                </div>
                              
                                <div class="col-md-2 form-group">
                                    <label for="sel1">
                                        Genders allowed :
                                    </label>
                                    <select class="form-control" ng-model="Gendersallow"
                                            ng-options="data.Id as data.Name for data in GendersList">
                                        <option value="" selected>Select genders</option>
                                    </select>

                                </div>
                                <div class="col-md-2 form-group">
                                    <label for="sel1">
                                        TypeWriting(Online) :
                                    </label>
                                    <select class="form-control" ng-model="IsTwOnline"
                                            ng-options="data.Id as data.Value for data in inputs">
                                        <option value="" selected>Select </option>
                                    </select>
                                </div>
                                <div class="col-md-2 form-group">
                                    <label for="sel1">
                                        TypeWriting(Offline) :
                                    </label>
                                    <select class="form-control" ng-model="IsTwOffline"
                                            ng-options="data.Id as data.Value for data in inputs">
                                        <option value="" selected>Select</option>
                                    </select>
                                </div>
                                <div class="col-md-2 form-group">
                                    <label for="sel1">
                                        Shorthand(Offline) :
                                    </label>
                                    <select class="form-control" ng-model="IsShoffline"
                                            ng-options="data.Id as data.Value for data in inputs">
                                        <option value="" selected>Select</option>
                                    </select>
                                </div>
                                <div class="col-md-2 form-group">
                                    <label for="ExamType">
                                        Shorthand(online) :
                                    </label>
                                    <select class="form-control" ng-model="IsShOnline"
                                            ng-options="data.Id as data.Value for data in inputs">
                                        <option value="" selected>Select</option>
                                    </select>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn pull-right btn-success btn-css text-uppercase" style="margin-top: 23px;" ng-click="Submit()">
                                        ADD Center
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="sm-spacer"></div>
        <div class="col-md-12 " ng-show="Data">
            <div class="pull-right">
                <a class="ExportToExcel1 pointer"
                   id="ExportToExcel1" ng-click="DownloadtoExcel()">
                    <i class="fa fa-file-excel-o"></i>
                    Export to Excel
                </a>
            </div>

        </div>
        <div class="col-md-12" style="padding:0px!important" ng-show="Data">
            <div class="cl-details">
                <h2>Exam Centers list</h2>
            </div>
        </div>
        <div class="row" ng-show="Data">

            <div id="preExamReports" class="table-responsive table-custom-tables-tb col-md-12 scrollbox">
                <table class="table table-bordered  table-striped table-rounded scrollbox-content">
                    <thead>
                        <tr class="cb-1">
                            <th class="text-center" style="width: 2%;">S.No</th>
                            <th class="text-center">Exam Center Code</th>
                            <th class="text-center">Exam Center</th>
                            <th class="text-center">District</th>
                            <th class="text-center">Is Shorthand</th>
                            <th class="text-center">Is Shorthand Online</th>
                            <th class="text-center">Is Typewriting</th>
                            <th class="text-center">Is Typewriting Online</th>
                            <th class="text-center">Genders Allowed</th>
                            <th class="text-center" style="width:10%">Is Active</th>
                            <th width="10%" class="text-center">Delete</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr style="background-color:#fff!important;cursor:pointer" ng-repeat="data in getData" ng-click="openDetails(x)">

                            <td class="text-center">{{$index + 1}}</td>
                            <td class="text-center"><input autocomplete="off" style="width:100%;" disabled class="form-control tableinpt enabletable{{$index + 1}}" type="text" ng-model="data.ExaminationCenterCode" /></td>
                            <td class="text-center"><input autocomplete="off" style="width:100%;" disabled class="form-control tableinpt enabletable{{$index + 1}}" type="text" ng-model="data.ExaminationCenterName" /></td>
                            <td class="text-center">
                                <select class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.DistrictId"
                                        ng-options="data.Id as data.district_name for data in ExamDistrictList">
                                    <option value="" selected>Choose</option>
                                </select>
                                <!--<input autocomplete="off" style="width:100%;" disabled class="form-control tableinpt enabletable{{$index + 1}}" type="text" ng-model="data.ExaminationCenterAddress" />-->
                            </td>
                            <td class="text-center">
                                <select class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.IsSh"
                                        ng-options="data.Id as data.Value for data in inputs">
                                    <option value="" selected>Choose</option>
                                </select>
                            </td>
                            <td class="text-center">
                                <select class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.IsShOnline"
                                        ng-options="data.Id as data.Value for data in inputs">
                                    <option value="" selected>Choose</option>
                                </select>
                            </td>
                            <td class="text-center">
                                <select class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.IsTw"
                                        ng-options="data.Id as data.Value for data in inputs">
                                    <option value="" selected>Choose</option>
                                </select>
                            </td>
                            <td class="text-center">
                                <select class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.IsTwOnline"
                                        ng-options="data.Id as data.Value for data in inputs">
                                    <option value="" selected>Choose</option>
                                </select>
                            </td>
                            <td class="text-center">
                                <select class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.GenderId"
                                        ng-options="data.Id as data.Name for data in GendersList">
                                    <option value="" selected>Choose</option>
                                </select>
                            </td>
                            <td class="text-center">
                                <select class="form-control tableinpt enabletable{{$index + 1}}" ng-model="data.IsActive"
                                        ng-options="data.Id as data.Value for data in ActiveValues">
                                    <option value="" selected>Choose</option>
                                </select>
                                <!-- <input autocomplete="off" style="width:100%;" class="form-control tableinpt enabletable{{$index + 1}}" type="text" ng-model="data.IsActive" />-->
                                
                            </td>
                            <td class="text-center">
                                <a><button title="Click here to Delete" ng-click="deleteExamcenter(data.Id,data)" class="btn btn-xs btn_delete">                                
                                <i class="fa fa-trash-o" aria-hidden="true"></i></button></a>                               

                            </td>
                            

                            <td class="text-center">
                                <button class="btn-xs btn btn-info" style="width: 70px;" ng-show="edit{{$index + 1}}" ng-click="Editsemesterdat(data,$index+1)">
                                    Edit
                                </button>
                                <button class="btn-xs btn btn-primary" style="width: 70px;" ng-show="!edit{{$index + 1}}" ng-click="Updatesemesterdat(data,$index+1)">
                                    Update
                                </button>

                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
        <div style="width:100%;text-align:center;">
            <div class="loading">
                <img src="../../contents/img/loading2.gif" ng-show="loading" width="64" />
            </div>

        </div>
    </div>
    <div class="sm-spacer"></div>
    <div class="sm-spacer"></div>
</div>